<h2> Brands </h2>
<%= link_to 'New Brand', new_brand_path %>

<table>
        <thead>
                <td>Name</td>
                <td>Edit</td>
                <td>Delete</td>
        </thead>
        <tbody>
                <% @brands.each do |brand| %>
                <tr>
                        <td><%= link_to brand.name, brand_path(brand) %></td>
                        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
                        <td><%= link_to 'Delete', brand_destroy_path(brand), method: :post %></td>
                </tr>
                <% end %>
        </tbody>
</table>